[submodule "libs/JUCE"]
	path = libs/JUCE
	url = https://github.com/juce-framework/JUCE
[submodule "libs/sst-cmake"]
	path = libs/sst/sst-cmake
	url = https://github.com/surge-synthesizer/sst-cmake
[submodule "fmt"]
	path = libs/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "simde"]
	path = libs/simde
	url = https://github.com/simd-everywhere/simde
[submodule "libs/sst/sst-cpputils"]
	path = libs/sst/sst-cpputils
	url = https://github.com/surge-synthesizer/sst-cpputils
[submodule "libs/sst/sst-basic-blocks"]
	path = libs/sst/sst-basic-blocks
	url = https://github.com/surge-synthesizer/sst-basic-blocks
[submodule "libs/sst/sst-plugininfra"]
	path = libs/sst/sst-plugininfra
	url = https://github.com/surge-synthesizer/sst-plugininfra
[submodule "libs/melatonin_inspector"]
	path = libs/melatonin_inspector
	url = https://github.com/sudara/melatonin_inspector.git
[submodule "libs/clap-juce-extensions"]
	path = libs/clap-juce-extensions
	url = https://github.com/free-audio/clap-juce-extensions.git
[submodule "libs/MTS-ESP"]
	path = libs/MTS-ESP
	url = https://github.com/oddsound/MTS-ESP/
